<form [formGroup]="form" (ngSubmit)="register($event)">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Registro</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input
              placeholder="email"
              formControlName="email"
              matInput
              type="email"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input
              placeholder="password"
              formControlName="password"
              matInput
              type="password"
            />
            <mat-error *ngIf="form.get('password').hasError('required')">
              Password is required
            </mat-error>
            <mat-error
              *ngIf="form.get('password').hasError('invalid_password')"
            >
              This password is invalid
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <mat-label>Confirm Password</mat-label>
            <input
              placeholder="Confirm password"
              formControlName="confirmPassword"
              matInput
              type="password"
            />
          </mat-form-field>
          <mat-error
            *ngIf="
              form.hasError('match_password') && confirmPasswordField.touched
            "
          >
            password does not match
          </mat-error>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button [disabled]="form.invalid" mat-raised-button type="submit">
        Registro
      </button>
    </mat-card-actions>
  </mat-card>
</form>
