div {
  margin: 1.5rem;
}
input {
  padding: 5px;
  border: 2px solid #7c7c7c;
  border-radius: 15px;
  outline: none;

  &.is-valid {
    border-color: rgb(7, 204, 7);
  }

  &.is-invalid {
    border-color: rgb(228, 11, 83);
  }
}

.invalid-text {
  color: rgb(228, 11, 83);
}

.messages {
  opacity: 0;
  transition: all 0.3s ease-in;

  &.active {
    opacity: 1;
  }
}
