<form [formGroup]="form" (ngSubmit)="save()">
  <div formGroupName="fullName">
    <div>
      Name: {{ nameField.value }}
      <input
        [class.is-valid]="isNameFieldValid"
        [class.is-invalid]="isNameFieldInvalid"
        type="text"
        formControlName="name"
      />
    </div>

    <div
      class="messages"
      *ngIf="(nameField.invalid && nameField.touched) || nameField.dirty"
    >
      <p *ngIf="nameField.hasError('required')" class="invalid-text">
        <strong> This field is required </strong>
      </p>
      <p *ngIf="nameField.hasError('pattern')" class="invalid-text">
        <strong> This name is invalid </strong>
      </p>
    </div>

    <div>
      Last name: {{ lastField.value }}
      <input
        [class.is-valid]="isLastFieldValid"
        [class.is-invalid]="isLastFieldInvalid"
        type="text"
        formControlName="last"
      />
    </div>

    <div
      class="messages"
      *ngIf="(lastField.invalid && lastField.touched) || lastField.dirty"
    >
      <p *ngIf="lastField.hasError('required')" class="invalid-text">
        <strong> This field is required </strong>
      </p>
      <p *ngIf="lastField.hasError('pattern')" class="invalid-text">
        <strong> This name is invalid </strong>
      </p>
    </div>
  </div>

  <div>
    Email: {{ emailField.value }}
    <input type="email" formControlName="email" />
  </div>

  <div class="messages" *ngIf="emailField.invalid && emailField.touched">
    <p *ngIf="emailField.hasError('required')" class="invalid-text">
      <strong> This field is required </strong>
    </p>
    <p *ngIf="emailField.hasError('email')" class="invalid-text">
      <strong> This email is invalid </strong>
    </p>
  </div>

  <div>
    Phone: {{ phoneField.value }}
    <input type="tel" formControlName="phone" />
  </div>

  <div class="messages" *ngIf="phoneField.invalid && phoneField.touched">
    <p
      *ngIf="phoneField.hasError('required') && phoneField.touched"
      class="invalid-text"
    >
      <strong> This field is required </strong>
    </p>
  </div>

  <div>
    Color: {{ colorField.value }}
    <input type="color" formControlName="color" />
  </div>

  <div>
    Date: {{ dateField.value }}
    <input type="date" formControlName="date" />
  </div>

  <div>
    Age: {{ ageField.value }}
    <input type="number" formControlName="age" />
  </div>

  <div class="messages" *ngIf="ageField.invalid && ageField.touched">
    <p
      *ngIf="ageField.hasError('required') && ageField.touched"
      class="invalid-text"
    >
      <strong> This field is required </strong>
    </p>
    <p
      *ngIf="ageField.hasError('min') && ageField.touched"
      class="invalid-text"
    >
      <strong> You must be 18 years of age or older </strong>
    </p>
  </div>

  <div>
    Category: {{ categoryField.value }}
    <select formControlName="category">
      <option value="category-1">Category1</option>
      <option value="category-2">Category2</option>
      <option value="category-3">Category3</option>
      <option value="category-4">Category4</option>
      <option value="category-5">Category5</option>
    </select>
  </div>

  <div>
    Tag: {{ tagField.value }}
    <select formControlName="tag" multiple>
      <option value="tag-1">Tag-1</option>
      <option value="tag-2">Tag-2</option>
      <option value="tag-3">Tag-3</option>
      <option value="tag-4">Tag-4</option>
      <option value="tag-5">Tag-5</option>
    </select>
  </div>

  <div>
    Agree: {{ agreeField.value }}
    <input type="checkbox" formControlName="agree" />
  </div>

  <div class="messages" *ngIf="agreeField.invalid && agreeField.touched">
    <p
      *ngIf="agreeField.hasError('required') && agreeField.touched"
      class="invalid-text"
    >
      <strong> This field is required </strong>
    </p>
  </div>

  <div>
    Gender: {{ genderField.value }} --
    <label>
      Male
      <input name="gender" type="radio" value="male" formControlName="gender" />
    </label>
    <label>
      Female
      <input
        name="gender"
        type="radio"
        value="female"
        formControlName="gender"
      />
    </label>
    <label>
      Other
      <input
        name="gender"
        type="radio"
        value="other"
        formControlName="gender"
      />
    </label>
  </div>

  <div>
    Zone: {{ zoneField.value }} --
    <label>
      Zona 1
      <input name="zone" type="radio" value="zone-1" formControlName="zone" />
    </label>
    <label>
      Zona 2
      <input name="zone" type="radio" value="zone-2" formControlName="zone" />
    </label>
    <label>
      Zona 3
      <input name="zone" type="radio" value="zone-3" formControlName="zone" />
    </label>
  </div>
  <div><button type="submit">Submit</button></div>
</form>
